<div class="login-form">
    <div class="userCreatedMessage" *ngIf="showUserCreatedMessage">
        User has been created Successfully
    </div>
    <div class="authError" *ngIf="authError">
        <div class="col-12 alert alert-danger">
            {{authError?.message}}
        </div>
    </div>
    <h1>Login</h1>
    
    <div class="txtb">
        <input id="username" type="text" placeholder="Username">
    </div>
    <div class="txtb">
        <input type="password" placeholder="Password">
    </div>
    
    <input type="submit" class="loginbtn" value="Login" (click)="loginViaEmailPwd()">
    <input type="submit" class="googleLoginbtn" value="Login with Google" (click)="loginViaGoogle()">
   <div class="bottom-text">
        Dont have an account? <a routerLink="/signup">Sign up</a>
    </div>
</div>